extends layout
block head
	nav(class='navbar navbar-default navbar-authed')
		div(class='container')
			div(class='row')
				div(class='col-xs-6 nav-col')
					div(class='navbar-header')							
						a(class='navbar-brand')
							span(class='logo-text')
								|kurehun
							//img(src='/graphics/logo/alt24.svg')
				div(class='col-xs-6 nav-col')
					ul(class='nav navbar-nav pull-right')
						li
							a(href='https://github.com/umran/haveerucrawler') = username
block content