extends layout
block content
	div(class='hero')
		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-8')
					h1
						|Share and engage with local artists and makers
					h3
						|Sign up with
					a
						button(class='btn btn-primary btn-lg text-center')
							i(class='fa fa-instagram')
							|	Instagram
						button(class='btn btn-warning btn-lg btn-next text-center')
							i(class='fa fa-flickr')
							|	Flickr
							
	div(class='setup')
		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-12')
					h2
						|How it works
					h5
						|Kurehun is free and for anyone willing to share their work under a <i class='cc cc-logo'></i> license
	
					div(class='steps-container')
						div(class='row')
							div(class='step col-sm-4')
								div(class='step-number')
									|1
								div(class='step-content')
									h4
										|Link media accounts
									p
										|Link your account to media sources like Flickr, Instagram, SoundCloud, Youtube, etc.
						
							div(class='step col-sm-4')
								div(class='step-number')
									|2
								div(class='step-content')
									h4
										|Choose a license
									p
										|Pick a Creative Commons license. You may change it at any time, depending on the content shared.
							div(class='step col-sm-4')
								div(class='step-number')
									|3
								div(class='step-content')
									h4
										|Import and share
									p
										|Import content from your linked accounts and share with the rest of the community at Kurehun. 