extends layout
block head
	nav(class='navbar navbar-default navbar-unauthed')
		div(class='container')
			div(class='row')
				div(class='col-xs-6 nav-col')
					div(class='navbar-header')							
						a(class='navbar-brand')
							span(class='logo-text')
								|kurehun
							//img(src='/graphics/logo/alt24.svg')
				div(class='col-xs-6 nav-col')
					button(class='btn btn-warning navbar-btn btn-sm pull-right')
						|Sign up
					//ul(class='nav navbar-nav pull-right')
						li
							a(href='https://github.com/umran/haveerucrawler')
								span(class='octicon octicon-mark-github')
								|	Github
block content
	div(class='hero')
		div(class='container')
			div(class='row')
				div(class='col-xs-12')
					div(class='row')
						div(class='col-sm-offset-4 col-sm-4 col-xs-12 form-name')
							h1(class='logo-text')
								|kurehun
					form(class='form-horizontal login')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								input(input type='text' class='form-control login-form' id='username' placeholder='@')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								input(input type='password' class='form-control login-form' id='password' placeholder='password')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								button(type='submit' class='btn btn-success btn-block')
									|Sign in
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								a(class='btn btn-primary btn-block' href='/auth/instagram')
									|<i class='fa fa-instagram'></i> Instagram
					//div(class='row form-next')
						div(class='col-sm-offset-4 col-sm-4 col-xs-12 form-name')
							h3(class='form-name-text')
								|Sign up
					//form(class='form-horizontal login')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								input(input type='text' class='form-control login-form' id='username' placeholder='username')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								input(input type='password' class='form-control login-form' id='password' placeholder='password')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								input(input type='password' class='form-control login-form' id='password' placeholder='confirm password')
						div(class='form-group')
							div(class='col-sm-offset-4 col-sm-4 col-xs-12')
								button(type='submit' class='btn btn-warning')
									|Sign up
block foot
	footer(class='footer')
		div(class='container')
			div(class='row')
				div(class='col-xs-8')
					|For everyone with lots of <i class='twa twa-heart'></i>️ from the team at kurehun
				div(class='col-xs-4')
					i(class='licence-footer cc cc-publicdomain pull-right')