extends layout
block content
	div(class='hero')
		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-6')
					h1
						|Share and engage with a community of artists
					h3
						|Sign up with
					a
						button(class='btn btn-primary btn-lg text-center')
							i(class='fa fa-instagram')
							|	Instagram
						button(class='btn btn-warning btn-lg btn-next text-center')
							i(class='fa fa-flickr')
							|	Flickr
							
	div(class='setup')
		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-12')
					h2
						|How it works
					h5
						|Kurehun is free and for anyone willing to share their work under a <i class='cc cc-logo'></i> license
	
					div(class='steps-container')
						div(class='row')
							div(class='step col-sm-4')
								div(class='step-number')
									|1
								div(class='step-content')
									h4
										|Link Account
									p
										|Link account with your social media accounts. We currently support Flickr, Instagram, SoundCloud and Youtube.
							div(class='step col-sm-4')
								div(class='step-number')
									|2
								div(class='step-content')
									h4
										|Import Media
									p
										|Import content from your linked media accounts. You may opt to automatically sync with your accounts.
							div(class='step col-sm-4')
								div(class='step-number')
									|3
								div(class='step-content')
									h4
										|Share Content
									p
										|Choose a Creative Commons license for your content and share with the rest of the world