extends layout
block head
	nav(class='navbar navbar-default navbar-unauthed')
		div(class='container')
			div(class='row')
				div(class='col-xs-6 nav-col')
					div(class='navbar-header')							
						a(class='navbar-brand')
							span(class='logo-text')
								|kurehun
							//img(class='logo' src='/graphics/logo/kurehun.svg')
				div(class='col-xs-6 nav-col')
					button(type='submit' class='btn btn-success navbar-btn btn-sm pull-right')
						|Sign in
					form(class='form-inline form-nav pull-right')
						div(class='form-group inline-input')
							input(type='email' class='input-sm form-control login-input' id='login_email' placeholder='Email')
						div(class='form-group inline-input')
							input(type='password' class='input-sm form-control login-input' id='login_password' placeholder='Password')
block content
	div(class='hero')
		div(class='container')
			div(class='row')
				div(class='col-xs-6')
					h1()
						|Share and Connect with a Community of Artists
					h3()
								|Kurehun is a place to showcase your work, and perhaps even draw some inspiration from fellow makers
				div(class='col-xs-6')
					//div(class='row')
						div(class='col-xs-offset-2 col-xs-10 form-name')
							h2()
								|Get Started

					div(class='form-horizontal login')
						div(class='form-group')
							//label(for='email' class='col-xs-2 control-label')
								|Email
							div(class='col-xs-offset-2 col-xs-10')
								input(type='email' class='form-control signup-input' id='email' placeholder='Email' disabled)
						div(class='form-group')
							//label(for='password' class='col-xs-2 control-label')
								|Password
							div(class='col-xs-offset-2 col-xs-10')
								input(type='email' class='form-control signup-input' id='password' placeholder='Password' disabled)
						div(class='form-group')
							//label(for='cpassword' class='col-xs-2 control-label')
								|Confirm
							div(class='col-xs-offset-2 col-xs-10')
								input(type='email' class='form-control signup-input' id='cpassword' placeholder='Confirm Password' disabled)
						div(class='row')
							div(class='col-xs-offset-2 col-xs-10')
								button(type='submit' class='btn btn-warning btn-block disabled')
									|Sign up
block foot
	footer(class='footer')
		div(class='container footer-content')
			div(class='row')
				div(class='col-xs-8')
					|Made in Malé with lots of <i class='twa twa-heart'></i>️
				div(class='col-xs-4')
					img(src='https://earthview.withgoogle.com/static/images/google-earth-logo@2x.png' alt='Google' class='content__attribution__image pull-right')
					//i(class='licence-footer cc cc-publicdomain pull-right')