doctype html
html
	head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		title= title + ' · Kurehun'
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/alt.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700')
		script(type='text/javascript', src='/javascript/jquery.min.js')
		script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='/javascript/grid.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascript/angular.min.js')
		script(type='text/javascript', src='/javascript/app/bower_components/moment/min/moment.min.js')
		script(type='text/javascript', src='/javascript/app/bower_components/angular-moment/angular-moment.min.js')
		script(type='text/javascript', src='/javascript/app/services.js')
		script(type='text/javascript', src='/javascript/app/main.js')
	
	body(id=page)
		block head
		block content
		block foot