@import url(/stylesheets/includes.css);

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
}

#landing {
	margin-bottom: 4rem;
	background: url('/graphics/hr.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hello {
	padding-top: 101px;
	background-image: none;
	background-color: #fafafa;
}

@media (max-width: 768px) and (orientation: portrait) {
	body {
	    margin-bottom: 6rem;
	}
}

.bg-cover {
	background: url('/graphics/hr.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.no-bg-cover {
	background-image: none;
}

.navbar {
    	margin-bottom: 0;
    	border: none;
}

.navbar-nav {
    margin-top: 0px;
    margin-bottom:0px;
}

.navbar-default {
	font-size: 1.25rem;
	border-radius: 0;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

.navbar-inverse {
	border-radius: 0;
	color: #fff;
	background-color: #083D61;
	background-image: none;
}

.navbar-brand {
	margin-left:-15px;
}

.navbar-authed-alt {
	top: 50px;
	background-color: #fff;
	/*border-top: 1px solid #fff;*/
	border-bottom: 1px solid #e1e8ed;
	border-bottom: 1px solid rgba(0,0,0,0.10);
}

.navbar-unauthed .nav>li>a {
	color:#FFF;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-authed .nav>li>a {
	color:#FFF;
	padding-top: 9px;
    	padding-bottom: 9px;
}

.navbar-authed-alt .nav>li>a {
	color:#333;
}

.nav>li>a>.navbar-btn.btn-sm {
    margin-top: 0;
    margin-bottom: 0;
}

.nav>li>.li-a-btn {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.nav-search {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .nav>li>a, .navbar-inverse .nav>li>a {
	padding-left: 15px;
}

.navbar-default .nav>li>a, .navbar-inverse .nav>li>a {
	padding-right: 30px;
}

@media (min-width: 768px) {

	.navbar-default .nav>li>a, .navbar-inverse .nav>li>a {
		padding-left: 0;
	}

	.navbar-default .nav>li:first-child>a, .navbar-inverse .nav>li:first-child>a {
		padding-left: 0;
	}
	
	.navbar-default .nav>li:last-child>a, .navbar-inverse .nav>li:last-child>a {
		padding-right: 0;
	}
}

.logo-text {
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	text-align: center;
	font-weight: 600;
	line-height: 1.1875rem;
	letter-spacing: -0.15rem; 
	color: #FFF;
}

.logo-text-alt {
	text-align: center;
	font-weight: 600;
	line-height: 1.1875rem;
	letter-spacing: -0.15rem; 
	color: #FFF;
}

.hero {
	color: #FFF;
	padding: 14rem 0;
}

@media (max-width: 768px) {
	.hero {
	    padding-top: 6rem;
	    padding-bottom: 9rem;
	}
}

@media (max-width: 768px) {
	.hero h1 {
		text-align: center;
	}
}

.hero h1 {
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h3 {
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.no-padding {
	padding: 0;
}

.login, .signup {
	padding-top: 1.5rem;
}

.login-form, .signup-form {
	border: 0px solid #ccc;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-name-text {
	letter-spacing: 0;
}

.form-next {
	padding-top: 1rem;
}

.footer {
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 4rem;
	line-height:1.75;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	color:#FFF;
}

@media (max-width: 768px) and (orientation: portrait) {
	.footer {
	    height: 6rem;
	}
}

.licence-footer {
	font-size: 2rem;
	border: none;
}

/* CSS hello */

.panel-image {
    position: relative;   
}

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-body {
   overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
	height: 0px;
	padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
	padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
	font-size: 1.3em;
	color: inherit;
}

.post {
	padding-top: 30px;
	padding-bottom: 0; 
	padding-left: 0;
	padding-right: 0;
}

.panel {
	margin-bottom: 0;
	border: 1px solid #edeeee;
	border-radius: 3px;
	color: #333;
}

.panel-default>.panel-heading {
	background-image: none;
	background-color: #FFF;
	padding: 20px;
}

.panel-title {
	font-size: 14px;
}

.panel-footer {
	border-top: 1px solid rgba(0,0,0,0.10);
	background-color: #FFF;
}

/* Search Bar */

.input-search {
	border: 1px solid rgba(0,0,0,0.10);
	border-radius: 14px;
}

/* Avatar */

.avatar {
	border-radius: 15%;
	margin-right: 10px;
}

/* Video Wrapper */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Posts */

.source {
	padding: 7.5px 0px;
}