.btn-next {
	margin-left: 1rem;
}

.icon-next {
	margin-left: 0.5rem;
}

.login, .signup {
	padding-top: 0px;
}

.login-form, .signup-form {
	border: 0px solid #ccc;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-name {
	padding-left: 5px;
}

.sub-intro {
	letter-spacing: 0;
	margin: 0 0 2rem 0;
}

.form-name-text {
	letter-spacing: 0;
	margin: 0 0 0.5rem 0;
}

.form-next {
	padding-top:1rem;
}

.intro {
	padding-top:1rem;
}

.licence-footer {
	font-size: 1.5rem;
	margin-top: 0.5rem;
}